@model Entities.DTOs.SliderDTOs.SliderPostDto

<div>
    <div>
        <h1>Create:</h1>
    </div>
    <div>
        <form asp-action="create" method="post" enctype="multipart/form-data">
                <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

                <div asp-validation-summary="All" class="text-danger" aria-hidden="true" id="validation-summary" style="display: none"></div>

                <div class="row align-items-center">

                    <div class="mb-3 col-md-4 align-items-center">
                        <label asp-for="FormFile" class="form-label">Slider image: </label>
                        <input asp-for="FormFile" />
                        <span asp-validation-for="FormFile" style="color: red"></span>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="TitleGreen" class="form-label">Green Title</label>
                            <input asp-for="TitleGreen" class="form-control" placeholder="Green Title">
                            <span asp-validation-for="TitleGreen" style="color: red"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="TitleWhite" class="form-label">White Title</label>
                            <input asp-for="TitleWhite" class="form-control" placeholder="White Title">
                            <span asp-validation-for="TitleWhite" style="color: red"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Description</label>
                            <input asp-for="Description" class="form-control" placeholder="Description">
                            <span asp-validation-for="Description" style="color: red"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="RedirectURL" class="form-label">Redirect URL</label>
                            <input asp-for="RedirectURL" class="form-control" placeholder="Redirect URL">
                            <span asp-validation-for="RedirectURL" style="color: red"></span>
                        </div>
                    </div>
                </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-controller="slider" asp-action="index" class="btn btn-outline-danger">Cancel</a>
        </form>
    </div>
</div>