@using Entities.DTOs.ContactDTOs
@model ContactPostDto
@{
    List<Setting> settings = ViewBag.Settings;
}

<section class="inner-bg over-layer-black" style="background-image: url('../assets/img/bg/4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="mini-title inner-style-2">
                    <h3>Contact Us</h3>
                    <p><a asp-controller="home" asp-action="index">Home</a> <span class="fa fa-angle-right"></span> <a asp-controller="home" asp-action="contact">Contact</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container padding-bottom-80">
        <div class="section-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title margin-left-20 ">
                        <h6>Contact</h6>
                        <h2>Get in Touch</h2>
                        <div class="small-line-border-2"></div>
                    </div>
                    <form method="post" asp-action="Create" asp-controller="message" asp-area="manage">
                        <div class="col-md-6">
                            <input asp-for="FullName" class="form-control" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="Email" class="form-control" placeholder="Your Email" required>
                        </div>
                        <div class="col-md-12">
                            <input asp-for="Subject" class="form-control" placeholder="Subject" id="subject" required>
                        </div>
                        <div class="col-md-12">
                            <div class="contact-textarea">
                                <textarea asp-for="Message" class="form-control" rows="6" placeholder="Wright Message" required></textarea>
                                <button class="btn btn-theme" type="submit" value="Submit Form">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div>
                        @Html.Raw(settings.FirstOrDefault(x => x.Key == "Location").Value)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- divider start -->
@await Html.PartialAsync("DividerPartialView", settings)
<!-- divider end -->