@model Entities.DTOs.ProfessionDTOs.ProfessionUpdateDto

<div>
    <div>
        <h1>Update:</h1>
    </div>
    <div>
        <form asp-action="update" method="post">
            <div class="row">

                <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

                <input type="hidden" asp-for="ProfessionGet.Id"/>

                <div asp-validation-summary="All" class="text-danger" aria-hidden="true" id="validation-summary" style="display: none"></div>

                <div class="mb-3 col-md-4">
                    <label asp-for="ProfessionPost.Icon" class="form-label">Icon</label>
                    <input asp-for="ProfessionPost.Icon" value="@Model.ProfessionGet.Icon" class="form-control" placeholder="Icon">
                    <span asp-validation-for="ProfessionPost.Icon" style="color: red"></span>
                </div>

                <div class="mb-3 col-md-4">
                    <label asp-for="ProfessionPost.Name" class="form-label">Name</label>
                    <input asp-for="ProfessionPost.Name" value="@Model.ProfessionGet.Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="ProfessionPost.Name" style="color: red"></span>
                </div>

            </div>
            <button type="submit" class="btn btn-warning">Update</button>
            <a asp-controller="Profession" asp-action="index" class="btn btn-outline-danger">Cancel</a>
        </form>
    </div>
</div>